/* GLOBAL */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
}


/* CONTAINER */

.container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    margin: 0 auto;
}


/* MAIN CONTENT */

.main-content {
    flex-grow: 1;
}

.blur-line {
    display: inline-block;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background-color: rgba(237, 35, 159, 0.6);
    filter: blur(4px);
    border-radius: 4px;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index: 10;
}

.main-header-brand {
    display: inline-block;
    vertical-align: middle;
}

.site-logo {
    width: 64px;
}

.site-header-list {
    display: inline-block;
    vertical-align: middle;
}

.site-header-item {
    display: inline-block;
    padding: 10px;
}

.site-header-item a {
    text-decoration: none;
    color: #05364d;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.site-header-item a:hover {
    color: #efb6df;
}

.site-header-item .active a {
    color: #efb6df;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.intro-text {
    width: 50%;
    text-transform: uppercase;
}

.hey {
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;
}

.intro-title {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #05364E;
}

.abut-title {
    color: #05364E;
    font-size: 24px;
    margin-bottom: 20px;
}

.intro-socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.intro-socials-item {
    list-style-type: none;
    margin-left: 15px;
}

.intro-socials-link {
    color: #05364d;
    width: 25px;
}

.intro-socials-link:hover {
    color: #797979;
}

.my-works {
    text-decoration: none;
    background-color: #1C44E4;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    display: inline-block;
}

.my-works:hover {
    opacity: 0.8;
}

.intro-img {
    width: 50%;
    width: 374px;
    height: 635px;
}

.statistics {
    margin: 0;
    padding: 0;
}

.stats-list {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    margin-top: 150px;
}

.stats-item {
    display: inline-block;
    background-color: #F8FAFF;
    text-align: center;
    padding: 5px 10px;
    margin-right: 20px;
    width: 150px;
}

.stats-item h4 {
    font-size: 27px;
    margin-bottom: 5px;
    color: #1C44E4;
}

.stats-item p {
    font-size: 16px;
    color: #797979;
    font-weight: 300;
}

.about-me {
    padding: 100px 0;
}

.about-me>div {
    width: 50%;
    float: left;
}

.about-me__image img {
    width: 90%;
}

.section-subtitle {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
}

.section-title {
    margin-top: 5px;
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    color: #05364D;
}

.about-me__description {
    font-size: 14px;
    font-weight: 300;
    color: #797979;
    line-height: 27px;
}

.about-me__action {
    margin-top: 40px;
}

.clearfix {
    clear: both;
}

.services {
    padding-top: 100px;
}

.service-card {
    display: inline-block;
    width: 30%;
    padding: 60px 30px;
    background-color: #F8FAFF;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
    transition: 0.3s ease;
}

.service-card__title {
    color: #05364D;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.service-card__description {
    font-size: 14px;
    line-height: 27px;
    font-weight: 300;
    color: #797979
}

.service-card__link {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364D;
    text-decoration: none;
}

.service-card:hover {
    background-color: #5f30ff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__description,
.service-card:hover .service-card__link {
    color: #FFFFFF;
}

.section-subtitle {
    margin-top: 100px;
}



.my-works-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.my-works-item {
    margin-left: 25px;
    list-style: none;
}

.my-works-item:first-child {
    margin-left: 0;
}

.my-works-item:hover,
.my-works-item:active {
    color: #1345e6;
    cursor: pointer;
}

.portfolio-img {
    width: 50%;
}

.image-1 {
    margin-top: 50px;
    width: 50%;
    float: right;
}

.portfolio-items {
    position: relative;
    margin-top: 50px;
}

.portfolio-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.portfolio-item-1 {
    padding-left: 0;
}

.portfolio-item-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.portfolio-item-3 {
    position: absolute;
    top: 322px;
    right: 0;
}

.portfolio-item__image {
    width: 100%;
}

.portfolio-item__overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(19, 69, 230, 0.9);
    visibility: hidden;
    z-index: 1;
}

.portfolio-item__info {
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    visibility: hidden;
    z-index: 1;
}

.portfolio-item__info a {
    color: white;
    text-decoration: none;
}

.portfolio-item:hover .portfolio-item__overlay {
    visibility: visible;
    top: 20px;
    left: 20px;
}

.portfolio-item:hover .portfolio-item__info {
    visibility: visible;
    bottom: 24px;
    left: 60px;
}

.blog {
    padding-top: 100px;
}

.blog-items {
    margin-top: 50px;
}

.blog-item {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
    transition: 0.5s ease;
}

.blog-item:hover {
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
    transform: scale(1.1);
}

.blog-item:hover .blog-item__info {
    background-color: white;
}

.blog-item__image img {
    width: 100%;
}

.blog-item__info {
    background-color: #F8FAFF;
    padding: 30px;
    color: #797979;
}

.blog-item__main-info span {
    font-size: 14px;
    margin-right: 30px;
    font-weight: lighter;
}

.blog-item__info i {
    margin-right: 5px;
}

.blog-item__title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #05364d;
    font-weight: 700;
}

.blog-item__description {
    line-height: 27px;
    font-weight: lighter;
    font-size: 15px;
}

.blog-item__learn-more {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    cursor: pointer;
}

.blog-item__learn-more:hover {
    color: #ed239f;
}